<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary" style="width: 500px; margin: 0 auto; margin-top: 75px;">
            <div class="panel-heading">Register</div>
            <div class="panel-body">
                <rn-alert [alerts]="alerts"></rn-alert>
                <form *ngIf="!success" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName"
                               #firstName="ngModel" required placeholder="FIRST NAME"/>
                        <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <input type="text" class="form-control" name="lastName" placeholder="LAST NAME" [(ngModel)]="model.lastName"
                               #lastName="ngModel" required/>
                        <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <input type="text" class="form-control" name="username" placeholder="USERNAME" [(ngModel)]="model.username"
                               #username="ngModel" required/>
                        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                    </div>
                    <br />
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <input type="password" class="form-control" name="password" placeholder="PASSWORD" [(ngModel)]="model.password"
                               #password="ngModel" required/>
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                    </div>
                    <div class="form-group" style="text-align:right;">
                        <button [disabled]="loading" class="btn btn-primary">Register</button>
                        <a [routerLink]="['/']" class="btn btn-link">Cancel</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>