<div class="row" class="margin-top: 50px; margin-bottom: 25px;">
  <div class="col-md-12" style="text-align: center;">
    <h1 style="color: #c6c6c6">Sample App</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  <div class="panel panel-primary" style="width: 300px; margin: 0 auto;">
      <div class="panel-heading">Login</div>
    <div class="panel-body">
      <rn-login></rn-login>
      </div>
    <div class="panel-footer">
      <span>© 2017 RN</span>
    </div>

  </div>
    </div>
  </div>
