<form [formGroup]="loginForm" (ngSubmit)="doLogin()" novalidate>
    <div style="padding-left: 15px;">
        <rn-alert [alerts]="alerts"></rn-alert>
    </div>
    <div class="form-group" class="{{validationService.formErrors.username.cssClass}}">
        <input formControlName="username" required type="text" class="form-control"
               placeholder="USERNAME">
    </div>
    <div class="form-group" class="{{validationService.formErrors.password.cssClass}}">
        <input formControlName="password" required type="password" class="form-control"
               placeholder="PASSWORD">
    </div>
    <p style="font-style: italic;">Don't have an account? <a routerLink="/register">Register Here</a></p>

    <button style="float:right;" class="btn btn-primary">Sign On</button>
</form>
